[
  {
    "name": "Input length = 0 (original main fn)",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 0",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=0 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 1",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=1 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 1023",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=1023 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 1024",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=1024 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 1025",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=1025 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 2048",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=2048 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  }
  /* Commenting the tests with relatively long input size to make the analysis duration quite short
  ,
  {
    "name": "Input length = 2049",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=2049 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 3072",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=3072 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 3073",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=3073 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 4096",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=4096 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 4097",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=4097 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 5120",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=5120 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 5121",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=5121 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 6144",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=6144 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 6145",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=6145 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 7168",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=7168 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 7169",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=7169 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 8192",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=8192 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 8193",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=8193 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 16184",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=16184 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 31744",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=31744 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  },
  {
    "name": "Input length = 102400",
    "prefix_path": "c/",
    "files": ["blake3.c","blake3_dispatch.c","blake3_portable.c","tis_main.c","tis_test.c"],
    "compilation_cmd": "gcc -O3 -Wall -Wextra -std=c11 -pedantic -DTRUSTINSOFT -DINPUT_LEN=102400 -DBLAKE3_TESTING -fsanitize=address -fsanitize=undefined -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512 blake3.c blake3_dispatch.c blake3_portable.c main.c -o blake3",
    "machdep": "gcc_x86_64",
    "main": "test"
  }*/
]
